<h1>
  User setting
</h1>
<hr />
<br />
<h3>
  Media consumers
</h3>
<div>
  <h3>
    Emails clients
  </h3>
  {{! cannot use hx-get because microsft will block it by cors since they do not allow xhr request }}
  {{!-- that is why I use alpine.js --}}
  <div x-data="{signInUrl: '/emails/auth/signin'}">
    <button @click='window.location.href = signInUrl'>
      Log in with Microsoft Outlook
    </button>
  </div>
</div>